/* body{
    margin:  0 ;
    
}



.centered{
    width: 350px;
    margin: 50px auto;
}

footer{
    margin-top: 23%;
    text-align: center;
    
    background-color: rgb(70, 70, 193);
    overflow: hidden;
} */
