

.container{
    width: 300px;
    margin: 30px auto;
}


.inputs{
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid gray;
    width: 80%;
}


.submitBtn{

    padding: 10px 20px;
    background-color: rgb(33, 61, 224);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submitBtn:hover{
    background-color: rgb(129, 165, 233);
}
