body{
    margin: 0;
}

.navBar{    
    background-color: rgb(70, 70, 193);
    font-size: 25px;
    color: white;
    text-align: center;
    
    
}

.header{
    margin-top: 0;
    padding: 12px;
}

.mainDiv{
    width :350px;
    margin: 50px auto;
} 

