

.accDiv{
    width: 300px;
    margin: 100px auto;
    
}

.inputs{
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid gray;
    width: 80%;
}

.submitBtn {
    color: white;
    background-color: rgb(31, 85, 222);
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;

}

.submitBtn:hover{
    background-color: rgb(132, 181, 226);
}

.checkbox{
     display: flex;
    gap : 10px;    
    
    padding-bottom: 10px;    
    
}