.home_page{
    width : 400px;
    height: 500px;
    margin : 50px auto;
    border: 1px solid gray;
    text-align: center;
}

.centered{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.links{
    display: flex;
    justify-content: space-around;
}

.logBtn{
    width: 80px;
    padding: 10px 20px;
    background-color: rgb(70, 70, 193);
    color: white;
    border: none;
    border-radius: 5px; 
  
}