
.links{
    color: black;
    text-decoration: none;
}

.selectUser{
    border: 1px solid gray;
    padding: 10px 10px;
    width: 40%;
    border-radius: 10px;
    background-color: rgb(252, 247, 253);
}

.inputname{
    width: 70%;
}

