.jobsDiv{
  width: 600px;
  align-items: center;
  margin: 50PX auto;
  
}
.card{
    
   width : 400px;
    padding : 20px 30px;
    margin-bottom: 10px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

ul {
  list-style-type: none;
  padding-left: 0;  /* removes default indent */
}


.applyBtn{
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.applyBtn:hover{
    background-color: rgb(129, 165, 233);

}

.appliedBtn{
  padding: 7px 18px;
    background-color: #ccc;
    border-radius: 10px;
    cursor: pointer;
}