body{
    margin: 0;
}

.navbar{    
    background-color: rgb(70, 70, 193);
    font-size: 25px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.appname{
    margin: 0;
    padding: 10px;

}