.msgsDiv{
    width: 600px;
    height: 600px;
    margin: 50px auto;
    border: 1px solid gray;
    border-radius: 5px;
    /* padding: 10px; */
}

.sender{
    background-color: rgb(246, 244, 247);
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: end;
    padding: 5px 10px 5px 0;
    margin-left: 60%;
    
}

.receiver{
   background-color: rgb(246, 244, 247);
    border-radius: 5px;
    margin-bottom: 10px;
    margin-right: 60%;
    padding: 5px 0 5px 10px;
}
.time{
    font-size: 13px;
    display: flex;
    justify-content: center;
}

.sendDiv{
    display: flex;
    justify-content: center;

}



.sendButton{

 font-size: 14px; 
  background-color: rgb(64, 121, 226); 
     color: white;
    border: none;
    padding: 13px 30px;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
    margin-left: -2px; margin: 10px auto;
}


.sendButton:hover{
    background-color:  rgb(138, 172, 235);
}

.inputmsg{
    font-size: 15px;
    
    border-radius: 5px 0px 0px 5px;
}

